.project
build.props
build.xml
codenameone_settings.properties
CodeNameOneBuildClient.jar
icon.png
JavaSE.jar
nativej2me.res
Simulator_A2Prj.launch
Versions.properties
/lib/
/native/
/override/
/bin/
/.settings/
/.externalToolBuilders/
/dist/

/build/
